@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

$tablet: 768px;
$small-desktop: 1024px;
$large-desktop: 1500px;

$dark-gray: #444;
$light-gray: #f8f8f8;

$navy: #34495e;
$orange: #e67e22;
$red: #e74c3c;

@mixin mobile {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin non-mobile {
  @media (min-width: #{$tablet + 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$small-desktop - 1px}) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: #{$small-desktop}) and (max-width: #{$large-desktop - 1px}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop}) {
    @content;
  }
}

html {
  font-family: avenir, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 18px;
  color: $dark-gray;

  @include small-desktop {
    font-size: 20px;
  }

  @include large-desktop {
    font-size: 22px;
  }
}

body {
  margin: 0;
  min-width: 400px;
  background-color: $light-gray;
}

p {
  max-width: 60em;
  line-height: 1.5em;
  margin-right: auto;
  margin-left: auto;
}

hr {
  display: block;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-color: $light-gray;
  border-width: 1px;
  width: 80%;
}

#hero {
  height: 100vh;
  width: calc(100vw - (100vw - 100%));
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  #heading {
    position: absolute;
    color: white;
    text-align: center;
    padding-top: 200px;
    margin: 0;
    width: 100%;
    z-index: 2;

    span {
      position: relative;
      background: -webkit-linear-gradient(white, #38495a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  background-color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 100;
  color: $orange;

  @include non-mobile {
    background-color: transparent;
    transition: background-color 1s ease 0s;
    color: #fff;

    li {
      margin-right: 0.5em;
    }

    .collapsible-menu {
      label {
        display: none;
      }
    }
  }

  @include mobile {
    height: 3.5em;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0px;
  }

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    margin: 0.5;
  }

  .logo {
    display: flex;
    position: relative;
    left: 1em;
    flex: none;

    .circle {
      position: relative;
      display: inline-block;
      border-width: 0.1em;
      border-style: solid;
      border-radius: 50%;
      width: 3em;
      height: 3em;

      .circle-text {
        font-family: "Great Vibes", cursive;
        font-size: 1.5em;
        position: relative;
        top: 5px;
        left: 6px;

        #second-G {
          position: relative;
          left: 0.7em;
          top: -0.8em;
        }
      }
    }

    .name {
      display: inline-block;
      position: relative;
      line-height: 3em;
      padding-left: 0.5em;
      font-size: 1.2em;
    }
  }

  input#menu {
    display: none;
  }

  label {
    display: block;
    cursor: pointer;
    width: 3em;
    height: 3em;
    background: url(https://res.cloudinary.com/drkbswe4j/image/upload/v1549825955/menuicon.svg)
      no-repeat left center;
    background-size: contain;
  }

  input:checked ~ .nav-content {
    display: block;
    height: auto;
  }

  .nav-content {
    .nav-link {
      color: #fff;
    }

    @include mobile {
      position: absolute;
      top: 3.5em;
      left: 0;
      width: 100%;
      background-color: #fff;
      transition: height 0.25s ease-out;
      height: 0px;
      display: none;

      li {
        border: 1px solid pink; //find better color
        text-align: center;
        margin: 1em auto;
      }

      .nav-link {
        color: black;
      }
    }

    @include non-mobile {
      margin-right: 3em;
      li {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0);
        transition: all 0.3s;
        a {
          transition: all 0.3s;
        }
      }
      li:hover {
        border: 1px solid $orange;
        a {
          color: $orange;
        }
      }
    }
  }
}

nav.solid {
  background-color: #fff;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;

  .logo {
    color: orange;
    transition: color 1s ease 0s;
  }

  .nav-link {
    color: black;
    transition: color 1s ease 0s;
  }

  @include non-mobile {
    .nav-content {
      li:hover {
        background-color: transparent;
        border: 1px solid $navy;
        box-shadow: 0.5em 0.5em 0px 3px $red;
        a {
          color: $navy;
        }
      }
    }
  }
}

#about {
  .about-image-container {
    @include non-mobile {
      //  margin-right: 2em;
      margin-top: 1em;
      margin-bottom: 1em;
      float: left;
      max-width: 60em;
      width: 50%;
      //margin-right: auto;
    }
    @include tablet {
      width: 50%;
    }
    @include small-desktop {
      width: 33%;
    }
    @include large-desktop {
      width: 25%;
    }
  }
}

/*blog*/
.content-list {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 900px;
  margin: 0 auto;
  background-color: $light-gray;
}

.blog-preview-item {
  a {
    color: $dark-gray;
    text-decoration: none;
  }
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.tags {
  ul {
    list-style-type: none;
    padding-inline-start: 0px;
  }
  li {
    display: inline-block;
    font-size: 0.7em;
    margin-right: 0.5em;
    padding: 0.2em;
    color: black;
    border-radius: 5%;
    text-align: center;
    white-space: nowrap;
  }
}

.sidebar {
  a {
    color: $dark-gray;
    text-decoration: none;
    cursor: pointer;
  }
}

.all-tags {
  li {
    cursor: pointer;
  }
}

@include non-mobile {
  aside {
    h2 {
      text-align: center;
    }
  }

  .page-wrapper {
    display: flex;
    flex-direction: row;
  }

  .content-list-container {
    width: 80%;
  }

  .sidebar {
    display: flex;
    position: relative;
    top: -1.5em;
    width: 20%;
    min-width: 250px;
    box-shadow: 0 0 4px grey;
  }
  ul {
    padding-inline-start: 0px;
    list-style-type: none;
  }
  .sidebar-content {
    ul.tags.all-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
      padding-inline-start: 0px;
      width: 100%;
      li {
        display: inline-block;
        padding-right: 1em;
        padding-left: 1em;
        margin-bottom: 1em;
        &:hover {
          box-shadow: 0 0 4px grey;
        }
        &:active {
          position: relative;
          top: 1px;
          box-shadow: 0 0 4px grey inset;
        }
      }
      .display-all {
        background-color: #269ce9;
      }
      .display-all.disabled {
        background-color: #e2e2e2;
        color: #969696;
        cursor: default;
        &:hover {
          box-shadow: none;
        }
        &:active {
          top: 0;
        }
      }
    }
  }

  .recent-article {
    margin: auto;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
    padding: 0px;
    &:hover {
      text-decoration: underline;
    }
  }

  .expand-icon-positioner {
    display: none;
  }

  .close-fullscreen {
    display: none;
  }

  .sidebar-nav {
    display: none;
  }

  .tags-row1 {
    display: none;
  }

  .tags-row2 {
    display: none;
  }
}

@include mobile {
  .sidebar {
    position: fixed;
    opacity: 0;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: $light-gray;
    transition: all 0.3s ease-out;
  }

  .display-all {
    background-color: #269ce9;
  }
  .disabled {
    background-color: #e2e2e2;
    color: #969696;
  }

  .sidebar.expand {
    height: 200px;
  }

  .sidebar.fade-in-sidebar {
    opacity: 1;
  }

  .sidebar.fullscreen {
    top: 5.5em;
    height: 100vh;

    .expand-icon-positioner {
      display: none;
    }

    .left-sidebar-insert {
      border-style: none;
    }

    .right-sidebar-insert {
      border-style: none;
    }

    .close-fullscreen {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 1em;
      height: 1em;
      padding: 1em;
      text-align: center;
    }

    .sidebar-nav {
      display: none;
    }

    .all-tags {
      display: flex;
      li {
        margin-bottom: 1em;
      }
    }

    .tags-row1 {
      display: none;
    }

    .tags-row2 {
      display: none;
    }

    .recent-articles {
      display: block;
      text-align: center;
      margin: auto;
      width: 90%;
      .recent-article {
        display: block !important;
        width: 100%;
        margin-bottom: 1em;
        a {
          margin: 1em;
          padding: 1em;
        }
      }
    }

    .tags-headline {
      display: block;
      margin: auto;
      text-align: center;
      width: 90%;
    }
  }

  .expand-icon-positioner {
    position: absolute;
    top: -30px;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .expand-icon-container {
    margin: auto;
    font-size: 50px;
    width: 50px;
    height: 30px;
    border-radius: 10% 10% 0% 0%;
    border-top: 1px solid #60e4ff;
    border-left: 1px solid #60e4ff;
    border-right: 1px solid #60e4ff;
    background-color: $light-gray;
  }

  .sidebar-expand-icon {
    cursor: default;
    position: relative;
    top: -8px;
    font-size: 50px;
    width: 50px;
    line-height: 30px;
    transition: transform 0.5s ease-in-out;
  }

  .sidebar-expand-icon.rotate {
    transform: rotate(180deg);
  }

  .left-sidebar-insert {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 25px);
    height: 100%;
    border-top: 1px solid #60e4ff;
    pointer-events: none;
  }

  .right-sidebar-insert {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% - 25px);
    height: 100%;
    border-top: 1px solid #60e4ff;
    pointer-events: none;
  }

  .sidebar-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
      padding-inline-start: 0px;
      width: 100%;
    }

    li {
      display: inline-block;
      padding-right: 1em;
      padding-left: 1em;
    }
  }

  .close-fullscreen {
    display: none;
    cursor: default;
  }

  .tags.all-tags {
    display: none;
  }

  .recent-articles {
    display: none;
  }

  .tags-headline {
    display: none;
  }
}

/*Projects*/
.project-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    display: flex;
    border: 1px solid black;
    transition: all 0.3s;
    a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0.5em;
      margin: 0.5;
      transition: all 0.3s;
    }
    a:visited {
      color: $dark-gray;
    }
  }
}

@include non-mobile {
  .project-links {
    li:hover {
      background-color: transparent;
      border: 1px solid $navy;
      box-shadow: 0.5em 0.5em 0px 3px $red;
      a {
        color: $navy;
      }
    }
  }
}

.title-link {
  text-decoration: none;
  transition: box-shadow 0.3s ease-out;
  padding: 0.3em;
  &:visited {
    color: $dark-gray;
  }
  &:hover {
    //    text-shadow: 3px 3px 0 $red;
    border: 1px solid $navy;
    box-shadow: 0.3em 0.3em 0px 3px $red;
  }
}

/*Posts*/
.post-wrapper {
  code {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    font-size: 0.8em;
    background-color: #eeeeee;
  }

  padding-left: 5em;
  padding-right: 5em;
  h1 {
    text-align: center;
  }
  .date {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.7em;
    font-weight: bold;
  }
  pre.language-text {
    width: 80%;
    max-width: 60em;
    min-width: 600px;
    background-color: #eeeeee;
    border: 3px ridge #c4c4c4;
    padding: 1em;
    margin: auto;
  }
  ul {
    list-style-type: disc;
    padding-left: 3em;
    padding-right: 3em;
  }
  ol {
    padding-left: 3em;
    padding-right: 3em;
  }
  h1,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
  h2 {
    text-align: center;
    padding-top: 1em;
  }
}

blockquote {
  border-left: 10px solid $navy;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: $navy;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.projects {
  ul.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0px;
    width: 100%;
    li {
      display: inline-block;
      display: inline-block;
      font-size: 0.8em;
      margin-right: 0.5em;
      padding: 0.2em 0.3em 0.2em 0.3em;
      color: black;
      border-radius: 5%;
      text-align: center;
      white-space: nowrap;
      background-color: #ed5131;
      font-family: futura, avenir, sans-serif;
    }
  }
}

.caption {
  display: block;
  font-size: 0.7em;
  margin: 0 auto;
  font-family: futura, avenir, sans-serif;
  width: 100%;
  max-width: 590px;
  line-height: 1.2em;
  text-align: center;
}

.gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  .img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

/*Contact*/
.form-submit {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover,
  &:focus {
    background: #0053ba;
  }

  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }
}

/*
.project-container {
  border: 1px solid $dark-gray;
  width: 80%;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
*/
/*defaults*/
/*
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
*/
